.idea/.idea.Xceed.Words.NET/.idea/.name
.idea/.idea.Xceed.Words.NET/.idea/contentModel.xml
.idea/.idea.Xceed.Words.NET/.idea/encodings.xml
.idea/.idea.Xceed.Words.NET/.idea/indexLayout.xml
.idea/.idea.Xceed.Words.NET/.idea/misc.xml
.idea/.idea.Xceed.Words.NET/.idea/modules.xml
.idea/.idea.Xceed.Words.NET/.idea/vcs.xml
.idea/.idea.Xceed.Words.NET/.idea/workspace.xml
.idea/.idea.Xceed.Words.NET/riderModule.iml
Examples/obj/x86/Debug/Xceed.Words.NET.Examples.csprojAssemblyReference.cache
Xceed.Words.NET/obj/Debug/Xceed.Words.NET.csprojAssemblyReference.cache
Xceed.Words.NET/obj/Release/Xceed.Words.NET.csproj.CoreCompileInputs.cache
Xceed.Words.NET/obj/Release/Xceed.Words.NET.csprojAssemblyReference.cache
Xceed.Words.NET/obj/Release/Xceed.Words.NET.dll
Xceed.Words.NET.sln.DotSettings.user
